<p><%= profileUser.name %>'s Profile:</p>
     <ul>
       <li> username: <span> <%= profileUser.name %> </span>  </li>
       <li> display name: <span> <%= profileUser.displayName %> </span>  </li>
       <li> id: <span> <%= profileUser.id %> </span>  </li>
       <li>DOB: <%= profileUser.DOB %></li>
       <li> AGE (in seconds): 
           <span id="age_start" style="display:none;"><% var str = Math.floor( (new Date() - profileUser.DOB) / 1000 ) %>  <%= str %></span> 
           <span id="age_display"></span>
        </li>
        <li>admin: <%= profileUser.admin %></li>
    </ul>

    <p><a href="/wall/<%= profileUser.name %>"><%= profileUser.name %>'s wall:</a></p>
    <ul>
        <li><a href ="/wall/<%= profileUser.name %>">visit <%= profileUser.name %>'s wall</a></li>
        <li>wall visit count: <%= postInfo.wallVisitCount %></li>
        <li>visitors: 

        <%  
            var visitors = postInfo.wallVisits[0], 
            out = '', 
            len = postInfo.wallVisits.length, 
            i = len-1,
            end = 0;

            if(len > 5){end = len - 6}

           while(i > end){ out+=postInfo.wallVisits[i].who + ' '; i--; }  
  
        %>  <%= out %></li>
    </ul>